extra/node-red-application.json
[
    {
        "id": "c5734803.076638",
        "type": "tab",
        "label": "Data Creator",
        "disabled": false,
        "info": ""
    },
    {
        "id": "62175924.f41e58",
        "type": "tab",
        "label": "Home page",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d4949a29.7bbf18",
        "type": "tab",
        "label": "sensor simulator",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a2515ee7.721e9",
        "type": "tab",
        "label": "Weather API",
        "disabled": false,
        "info": ""
    },
    {
        "id": "413eab00.fbce94",
        "type": "ui_group",
        "name": "Present Weather",
        "tab": "ca1296ca.b61118",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b5b2c1fd.58f38",
        "type": "ui_group",
        "name": "Weather Forcast ",
        "tab": "ca1296ca.b61118",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6d43261b.a83178",
        "type": "ibmiot",
        "name": "api_key",
        "keepalive": "100",
        "serverName": "xk9x45.messaging.internetofthings.ibmcloud.com",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "9fa49f18.f031f",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1cd56407.2997fc",
        "type": "ui_tab",
        "name": "Home",
        "icon": "",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f4167b05.dd3e48",
        "type": "ui_group",
        "name": "Sensor Data's",
        "tab": "31982360.199acc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "31982360.199acc",
        "type": "ui_tab",
        "name": "Sensor Simulator Data",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b35299e.6af0e68",
        "type": "ui_group",
        "name": "Daily Charts",
        "tab": "31982360.199acc",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d896a9d7.7bb6a8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "ca1296ca.b61118",
        "type": "ui_tab",
        "name": "Weather API",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "de10e3be.ed211",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9a508108.3b4a3",
        "type": "ui_group",
        "name": "",
        "tab": "d3c201ab.296e6",
        "order": 1,
        "disp": false,
        "width": "8",
        "collapse": false,
        "info": "`body.nr-dashboard-theme md-content md-card {\n    background-color: transparent !important;\n}`"
    },
    {
        "id": "d3c201ab.296e6",
        "type": "ui_tab",
        "name": "Home",
        "icon": "",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3a666498.20ecac",
        "type": "ui_tab",
        "name": "Sensor Simulator Data",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "513e92a0.840a9c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "37f8508a.21ba1",
        "type": "mqtt-broker",
        "z": "d4949a29.7bbf18",
        "broker": "localhost",
        "port": "1883",
        "clientid": "Node-Red",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "c6a572b.b19119",
        "type": "mqtt-broker",
        "name": "",
        "broker": "",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "3ec16011.23a3e",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2a4abd11.a253a2",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": true
    },
    {
        "id": "c2ee47c8.e2e7f8",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "5f4c2ea5.dc4e3",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ba217aad.c78538",
        "type": "ui_group",
        "name": "Default",
        "tab": "722893fc.b5334c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "722893fc.b5334c",
        "type": "ui_tab",
        "name": "tab2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e52dd10d.2c0e2",
        "type": "ui_group",
        "name": "test",
        "tab": "5f4c2ea5.dc4e3",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "5a9be2a7.35e99c",
        "type": "ui_group",
        "name": "Default",
        "tab": "5f4c2ea5.dc4e3",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3ad9dda2.b60802",
        "type": "ui_group",
        "name": "Video",
        "tab": "9fa49f18.f031f",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "a79fa658.687a18",
        "type": "ui_group",
        "name": "Log Live2",
        "tab": "83617363.dfc41",
        "order": 2,
        "disp": true,
        "width": "12"
    },
    {
        "id": "4f29fbcf.9770b4",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c32179bd.abb8b8",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": 6
    },
    {
        "id": "b5c9da48.f84b98",
        "type": "ui_group",
        "name": "",
        "tab": "1cd56407.2997fc",
        "order": 1,
        "disp": false,
        "width": "8",
        "collapse": false,
        "info": "`body.nr-dashboard-theme md-content md-card {\n    background-color: transparent !important;\n}`"
    },
    {
        "id": "c8e66f7c.55093",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dfd65f46.13d34",
        "type": "ui_group",
        "name": "button",
        "tab": "",
        "order": 2,
        "disp": false,
        "width": "1",
        "collapse": false
    },
    {
        "id": "6a80f6fb.f719d8",
        "type": "ui_group",
        "name": "",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "68d9f7bb.b52f68",
        "type": "ui_group",
        "name": "",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "772faaeb.762584",
        "type": "ui_group",
        "name": "",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6a2b8e04.38be9",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "9c0e9d4d.ab071",
        "type": "ui_group",
        "name": "command",
        "tab": "31982360.199acc",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "44f8efa8.4128a",
        "type": "ui_group",
        "name": "Circulating Pump Control",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "5"
    },
    {
        "id": "77c4795e.ed0b38",
        "type": "ui_group",
        "name": "Test",
        "tab": "d896a9d7.7bb6a8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "591d0897.d960e8",
        "type": "ui_group",
        "name": "humidity",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ecfb6aff.fc7ef8",
        "type": "ui_group",
        "name": "station",
        "tab": "ca1296ca.b61118",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b192fe09.37fa5",
        "type": "ui_group",
        "name": "Dialy Chart",
        "tab": "ca1296ca.b61118",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b0e785db.6b97d8",
        "type": "ui_group",
        "name": "Video",
        "tab": "de10e3be.ed211",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "5915a070.6ccce",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "2089677b.420188",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "c5b8e227.e2d78",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "44e0d3b8.c0fccc",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": 6
    },
    {
        "id": "c0257e3d.6a627",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f1cdff57.7e8cc",
        "type": "ui_group",
        "name": "button",
        "tab": "",
        "order": 2,
        "disp": false,
        "width": "1",
        "collapse": false
    },
    {
        "id": "148ce04b.b466f",
        "type": "ui_group",
        "name": "",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7fb38b36.661984",
        "type": "ui_group",
        "name": "",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f9211e96.05279",
        "type": "ui_group",
        "name": "",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7594a8bf.79b0d8",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "45f5d45.0eef62c",
        "type": "ui_group",
        "name": "Sensor Data's",
        "tab": "3a666498.20ecac",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4816d4ed.17cd7c",
        "type": "ui_group",
        "name": "dialy chart",
        "tab": "3a666498.20ecac",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6e875c3a.812374",
        "type": "ui_group",
        "name": "command",
        "tab": "3a666498.20ecac",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5f31b6f3.e12928",
        "type": "ui_group",
        "name": "Circulating Pump Control",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "5"
    },
    {
        "id": "90477d44.52d7",
        "type": "ui_group",
        "name": "Test",
        "tab": "e819aa4e.f5f318",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e819aa4e.f5f318",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "cb2b5167.2049a",
        "type": "ui_tab",
        "name": "Weather API",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a0b1c53.69e2838",
        "type": "ui_group",
        "name": "humidity",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ab66f8c0.2a6958",
        "type": "ui_group",
        "name": "Video",
        "tab": "513e92a0.840a9c",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "d360fef.cefbd",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "efd4581a.281728",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "f5377209.e4eb4",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "cb2b5167.2049a",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "d11be2d8.f389a",
        "type": "ui_template",
        "z": "62175924.f41e58",
        "group": "9a508108.3b4a3",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<!DOCTYPE html>\n<html>\n<head>\n    \n<style>\nbody {\n  background-image: url('https://wallpaperaccess.com/full/137487.jpg');\n  background-repeat: no-repeat;\n  background-attachment: cover;\n  background-size: 100% 100%;\n  background-color:black;\n}\nh1 {text-align: center;}\n</style>\n\n</head>\n<body >\n<h1> SMART AGRICULTURAL APPLICATION  </h1>\n    \n</body>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 260,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "6de2e7b.9189f18",
        "type": "debug",
        "z": "c5734803.076638",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 610,
        "y": 340,
        "wires": []
    },
    {
        "id": "75735b4b.ed5014",
        "type": "ui_template",
        "z": "d4949a29.7bbf18",
        "group": "f4167b05.dd3e48",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<!DOCTYPE html>\n<html>\n<head>\n    \n<style>\nbody {\n  background-image: url('https://wallpaperaccess.com/full/137487.jpg');\n  background-repeat: no-repeat;\n  background-attachment: cover;\n  background-size: 100% 100%;\n  background-color:white;\n}\nh1 {text-align: center;}\n</style>\n\n</head>\n<body >\n<style>\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    text-align: center;\n}\n</style>\n    \n</body>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 140,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "84c69171.1b937",
        "type": "inject",
        "z": "a2515ee7.721e9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 240,
        "wires": [
            [
                "dd771c59.a7e61"
            ]
        ]
    },
    {
        "id": "dd771c59.a7e61",
        "type": "http request",
        "z": "a2515ee7.721e9",
        "name": "api",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://api.openweathermap.org/data/2.5/forecast?q=Patiala&&appid=2de3e097c61d104ec741322300c6eaf4",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "14716251.cbc19e",
                "3c3aa0b2.ad19c",
                "ac1af0ec.9f304",
                "5c4dac2a.a051a4",
                "9e3089af.a69238",
                "27ac550e.587e4a",
                "a3e0e42b.b37da8",
                "34bf7ec.c32f682"
            ]
        ]
    },
    {
        "id": "cdb376c.a8b4688",
        "type": "change",
        "z": "a2515ee7.721e9",
        "name": "Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 100,
        "wires": [
            [
                "30da52b1.bee98e"
            ]
        ]
    },
    {
        "id": "30da52b1.bee98e",
        "type": "ui_gauge",
        "z": "a2515ee7.721e9",
        "name": "",
        "group": "413eab00.fbce94",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "Celsius",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#00e60f",
            "#14f05d"
        ],
        "seg1": "",
        "seg2": "",
        "x": 730,
        "y": 100,
        "wires": []
    },
    {
        "id": "14716251.cbc19e",
        "type": "change",
        "z": "a2515ee7.721e9",
        "name": "Humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list[0].main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 380,
        "wires": [
            [
                "70bf5aa8.b830d4"
            ]
        ]
    },
    {
        "id": "70bf5aa8.b830d4",
        "type": "ui_gauge",
        "z": "a2515ee7.721e9",
        "name": "",
        "group": "413eab00.fbce94",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#00e608",
            "#3acb43"
        ],
        "seg1": "",
        "seg2": "",
        "x": 720,
        "y": 380,
        "wires": []
    },
    {
        "id": "3c3aa0b2.ad19c",
        "type": "change",
        "z": "a2515ee7.721e9",
        "name": "Wind Speed",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list[0].wind.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 160,
        "wires": [
            [
                "fcff8f60.f7a6d"
            ]
        ]
    },
    {
        "id": "fcff8f60.f7a6d",
        "type": "ui_gauge",
        "z": "a2515ee7.721e9",
        "name": "",
        "group": "413eab00.fbce94",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Wind Speed",
        "label": "m/s",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#04e600",
            "#0de744"
        ],
        "seg1": "",
        "seg2": "",
        "x": 730,
        "y": 160,
        "wires": []
    },
    {
        "id": "e35d6447.4cfa28",
        "type": "ui_template",
        "z": "a2515ee7.721e9",
        "group": "b5b2c1fd.58f38",
        "name": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<!DOCTYPE html>\n<html>\n<head>\n    \n<style>\nbody {\n  background-image: url('https://wallpaperaccess.com/full/137487.jpg');\n  background-repeat: no-repeat;\n  background-attachment: cover;\n  background-size: 100% 100%;\n  background-color:white;\n}\nh1 {text-align: center;}\n*.temp {font-size: 20px !important;}\n\n</style>\n<style>\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    text-align: center;\n}\n</style>\n</head>\n<body >\n\n    \n</body>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 80,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "8f68c322.04e71",
        "type": "ui_chart",
        "z": "a2515ee7.721e9",
        "name": "",
        "group": "b5b2c1fd.58f38",
        "order": 2,
        "width": 6,
        "height": 5,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "15",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 720,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "150752f3.507ffd",
        "type": "ui_chart",
        "z": "a2515ee7.721e9",
        "name": "",
        "group": "b5b2c1fd.58f38",
        "order": 3,
        "width": 6,
        "height": 5,
        "label": "Wind Speed",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "20",
        "removeOlder": 1,
        "removeOlderPoints": "15",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 730,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "cf386aaa.e03428",
        "type": "ui_chart",
        "z": "a2515ee7.721e9",
        "name": "",
        "group": "b5b2c1fd.58f38",
        "order": 1,
        "width": 6,
        "height": 4,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "15",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 730,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "ac1af0ec.9f304",
        "type": "change",
        "z": "a2515ee7.721e9",
        "name": "type of weather",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list[0].weather[0].description",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 540,
        "wires": [
            [
                "ecdb1920.068aa8"
            ]
        ]
    },
    {
        "id": "ecdb1920.068aa8",
        "type": "ui_text",
        "z": "a2515ee7.721e9",
        "group": "413eab00.fbce94",
        "order": 4,
        "width": 6,
        "height": 3,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 710,
        "y": 540,
        "wires": []
    },
    {
        "id": "3123cad1.972d86",
        "type": "inject",
        "z": "c5734803.076638",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "db3f8abf.266c18"
            ]
        ]
    },
    {
        "id": "db3f8abf.266c18",
        "type": "function",
        "z": "c5734803.076638",
        "name": "creating data",
        "func": "var new_msg = {};\nnew_msg.payload = {'d':{ 'temperature' : (Math.random() * (40 - 30 + 1) + 30) ,\n                    'moisture'  : (Math.random() * (40 - 20 + 1) + 20)  ,\n                    'humidity':(Math.random() * (40 -20 + 1) + 20)}\n};      \nreturn new_msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 350,
        "y": 280,
        "wires": [
            [
                "6de2e7b.9189f18",
                "f3fef046.4e118"
            ]
        ]
    },
    {
        "id": "f3fef046.4e118",
        "type": "ibmiot out",
        "z": "c5734803.076638",
        "authentication": "apiKey",
        "apiKey": "6d43261b.a83178",
        "outputType": "evt",
        "deviceId": "sensor1",
        "deviceType": "sensors",
        "eventCommandType": "iotsensor",
        "format": "json",
        "data": "payload",
        "qos": 0,
        "name": "Sensor",
        "service": "registered",
        "x": 600,
        "y": 220,
        "wires": []
    },
    {
        "id": "5c4dac2a.a051a4",
        "type": "function",
        "z": "a2515ee7.721e9",
        "name": "",
        "func": "\nvar cFahr = msg.payload.list[0].main.temp;\nvar cToCel = (cFahr -273.15);\nreturn {payload:(Math.round(cToCel * 100) / 100).toFixed(2)};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 100,
        "wires": [
            [
                "cdb376c.a8b4688"
            ]
        ]
    },
    {
        "id": "9e3089af.a69238",
        "type": "function",
        "z": "a2515ee7.721e9",
        "name": "",
        "func": "let chartData = [];  //See #1 - create an empty array\n\n//2. lets create a variable to hold the everything...\nlet element1 = {};  //create element1 as an empty object {}\n\n//3, now add the .property \"series\" to the element1 {object}\nelement1.series = []; // add a .property called series of type [array]\nelement1.series.push(\"\"); //add 1st array element \"A\"\n\n//4. now add the .property \"data\" to the element1 {object}\ndata = []; // add a .property called data of type [array]\n\n\n/*******************************************/\nfor (i=0; i< 15; i++) {\ndata.push({\"x\": msg.payload.list[i].dt*1000, \"y\" : parseInt(msg.payload.list[i].main.temp-273.15)});\n}\nelement1.data=[data];\n//5. now add a labels [array] to element1\nelement1.labels = []; // add a .property called labels of type [array]\nelement1.labels.push(\"\"); //add an empty string to the \"labels\" [array]\n\n//Now add the element1 [array] into the chartData [array]\nchartData.push(element1)\n\n//Lastly, return the chartData as the payload \nmsg.payload = chartData;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 40,
        "wires": [
            [
                "1fb0a65d.b1d24a"
            ]
        ]
    },
    {
        "id": "1fb0a65d.b1d24a",
        "type": "change",
        "z": "a2515ee7.721e9",
        "name": "Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 40,
        "wires": [
            [
                "cf386aaa.e03428"
            ]
        ]
    },
    {
        "id": "27ac550e.587e4a",
        "type": "function",
        "z": "a2515ee7.721e9",
        "name": "",
        "func": "let chartData = [];  //See #1 - create an empty array\n\nlet element1 = {};  \nelement1.series = []; // add a .property called series of type [array]\nelement1.series.push(\"\"); \ndata = [];\n\n\nfor (i=0; i< 15; i++) {\ndata.push({\"x\": msg.payload.list[i].dt*1000, \"y\" : parseInt(msg.payload.list[i].wind.speed)});\n}\nelement1.data=[data];\nelement1.labels = []; \nelement1.labels.push(\"\"); \nchartData.push(element1)\n\nmsg.payload = chartData;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 240,
        "wires": [
            [
                "1147a6c4.c70ee9"
            ]
        ]
    },
    {
        "id": "1147a6c4.c70ee9",
        "type": "change",
        "z": "a2515ee7.721e9",
        "name": "Wind Speed",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 240,
        "wires": [
            [
                "150752f3.507ffd"
            ]
        ]
    },
    {
        "id": "a3e0e42b.b37da8",
        "type": "function",
        "z": "a2515ee7.721e9",
        "name": "",
        "func": "let chartData = [];  //See #1 - create an empty array\n\n//2. lets create a variable to hold the everything...\nlet element1 = {};  //create element1 as an empty object {}\n\n//3, now add the .property \"series\" to the element1 {object}\nelement1.series = []; // add a .property called series of type [array]\nelement1.series.push(\"\"); //add 1st array element \"A\"\n\n//4. now add the .property \"data\" to the element1 {object}\ndata = []; // add a .property called data of type [array]\n\n\n/*******************************************/\nfor (i=0; i< 15; i++) {\ndata.push({\"x\": msg.payload.list[i].dt*1000, \"y\" : parseInt(msg.payload.list[i].main.humidity)});\n}\nelement1.data=[data];\n//5. now add a labels [array] to element1\nelement1.labels = []; // add a .property called labels of type [array]\nelement1.labels.push(\"\"); //add an empty string to the \"labels\" [array]\n\n//Now add the element1 [array] into the chartData [array]\nchartData.push(element1)\n\n//Lastly, return the chartData as the payload \nmsg.payload = chartData;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 460,
        "wires": [
            [
                "e9a66aa5.ce54e8"
            ]
        ]
    },
    {
        "id": "e9a66aa5.ce54e8",
        "type": "change",
        "z": "a2515ee7.721e9",
        "name": "Humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 460,
        "wires": [
            [
                "8f68c322.04e71"
            ]
        ]
    },
    {
        "id": "48301e97.984a3",
        "type": "function",
        "z": "d4949a29.7bbf18",
        "name": "Temperature",
        "func": "msg.payload =(Math.round( msg.payload.d.temperature * 100) / 100).toFixed(2);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 930,
        "y": 380,
        "wires": [
            [
                "b83ba468.257228",
                "55519760.a1fe78"
            ]
        ]
    },
    {
        "id": "c3e529c1.db7638",
        "type": "function",
        "z": "d4949a29.7bbf18",
        "name": "Humidity",
        "func": "msg.payload =(Math.round( msg.payload.d.humidity * 100) / 100).toFixed(2);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 920,
        "y": 540,
        "wires": [
            [
                "4291e673.5c1a38",
                "363402a.43129fe"
            ]
        ]
    },
    {
        "id": "b83ba468.257228",
        "type": "ui_gauge",
        "z": "d4949a29.7bbf18",
        "name": "",
        "group": "f4167b05.dd3e48",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "degree celcius",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1190,
        "y": 440,
        "wires": []
    },
    {
        "id": "4291e673.5c1a38",
        "type": "ui_gauge",
        "z": "d4949a29.7bbf18",
        "name": "",
        "group": "f4167b05.dd3e48",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "Percentage",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1180,
        "y": 500,
        "wires": []
    },
    {
        "id": "55519760.a1fe78",
        "type": "ui_chart",
        "z": "d4949a29.7bbf18",
        "name": "",
        "group": "b35299e.6af0e68",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature daily chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1230,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "363402a.43129fe",
        "type": "ui_chart",
        "z": "d4949a29.7bbf18",
        "name": "",
        "group": "b35299e.6af0e68",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Hummidity chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1200,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "fef19d51.87d0d",
        "type": "function",
        "z": "d4949a29.7bbf18",
        "name": "Moisture",
        "func": "msg.payload =(Math.round( msg.payload.d.moisture * 100) / 100).toFixed(2);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 920,
        "y": 220,
        "wires": [
            [
                "cdd56860.c1c268",
                "94780f4f.254fa"
            ]
        ]
    },
    {
        "id": "cdd56860.c1c268",
        "type": "ui_chart",
        "z": "d4949a29.7bbf18",
        "name": "",
        "group": "b35299e.6af0e68",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Moisture daily chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1210,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "94780f4f.254fa",
        "type": "ui_gauge",
        "z": "d4949a29.7bbf18",
        "name": "",
        "group": "f4167b05.dd3e48",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Moisture",
        "label": "Percentage",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1180,
        "y": 260,
        "wires": []
    },
    {
        "id": "ea3f1567.3a7e58",
        "type": "function",
        "z": "d4949a29.7bbf18",
        "name": "",
        "func": "\n// WIoTP URL\nvar WIOTPURL = \"https://xk9x45.internetofthings.ibmcloud.com\";\nvar url = WIOTPURL + \"/api/v0002/device/types/\";\n\n// Authorization\nvar apikey = \"a-xk9x45-eopd1t9qxy\";\nvar apitoken = \"6GC9Rec6+0E6_mnya0\";\nvar auth = 'Basic ' + new Buffer(apikey + ':' + apitoken).toString('base64');\n\n// Device type and name\nvar deviceType = \"sensors\";\nvar deviceName = \"sensor1\";\n\nmsg.url = url + deviceType + \"/devices/\" + deviceName + \"/events\";\nmsg.headers = {};\nmsg.headers.Authorization = auth;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 180,
        "wires": [
            [
                "127cf6d9.652ad9"
            ]
        ]
    },
    {
        "id": "127cf6d9.652ad9",
        "type": "http request",
        "z": "d4949a29.7bbf18",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 530,
        "y": 380,
        "wires": [
            [
                "b1972a93.f7d2e8"
            ]
        ]
    },
    {
        "id": "b1972a93.f7d2e8",
        "type": "function",
        "z": "d4949a29.7bbf18",
        "name": "",
        "func": "var msgList = [];\nvar curMsg = {};\n\n   var rawData = new Buffer.from(msg.payload[0].payload, 'base64');\n   var data = rawData.toString('utf8');\n   msg.payload = JSON.parse(data);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 380,
        "wires": [
            [
                "fef19d51.87d0d",
                "48301e97.984a3",
                "c3e529c1.db7638"
            ]
        ]
    },
    {
        "id": "fcf8aabe.2955a8",
        "type": "inject",
        "z": "d4949a29.7bbf18",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "ea3f1567.3a7e58",
                "977f5270.21e99"
            ]
        ]
    },
    {
        "id": "a8fc890.b64c878",
        "type": "function",
        "z": "d4949a29.7bbf18",
        "name": "Status",
        "func": "msg.payload=msg.payload.d.status\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 740,
        "wires": [
            [
                "c00c5d54.988b9",
                "36f25772.508648",
                "d65e2872.aede78",
                "2452b0ca.8c64"
            ]
        ]
    },
    {
        "id": "c00c5d54.988b9",
        "type": "debug",
        "z": "d4949a29.7bbf18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 820,
        "wires": []
    },
    {
        "id": "977f5270.21e99",
        "type": "function",
        "z": "d4949a29.7bbf18",
        "name": "",
        "func": "\n// WIoTP URL\nvar WIOTPURL = \"https://xk9x45.internetofthings.ibmcloud.com\";\nvar url = WIOTPURL + \"/api/v0002/device/types/\";\n\n// Authorization\nvar apikey = \"a-xk9x45-eopd1t9qxy\";\nvar apitoken = \"6GC9Rec6+0E6_mnya0\";\nvar auth = 'Basic ' + new Buffer(apikey + ':' + apitoken).toString('base64');\n\n// Device type and name\nvar deviceType = \"motor\";\nvar deviceName = \"motor1\";\n\nmsg.url = url + deviceType + \"/devices/\" + deviceName + \"/events\";\nmsg.headers = {};\nmsg.headers.Authorization = auth;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 860,
        "wires": [
            [
                "13051889.d97337"
            ]
        ]
    },
    {
        "id": "13051889.d97337",
        "type": "http request",
        "z": "d4949a29.7bbf18",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 510,
        "y": 740,
        "wires": [
            [
                "9dcbd433.c5edf8"
            ]
        ]
    },
    {
        "id": "9dcbd433.c5edf8",
        "type": "function",
        "z": "d4949a29.7bbf18",
        "name": "",
        "func": "var msgList = [];\nvar curMsg = {};\n\n   var rawData = new Buffer.from(msg.payload[0].payload, 'base64');\n   var data = rawData.toString('utf8');\n   msg.payload = JSON.parse(data);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 720,
        "y": 740,
        "wires": [
            [
                "a8fc890.b64c878"
            ]
        ]
    },
    {
        "id": "1d89c257.358e9e",
        "type": "ibmiot out",
        "z": "d4949a29.7bbf18",
        "authentication": "apiKey",
        "apiKey": "6d43261b.a83178",
        "outputType": "evt",
        "deviceId": "motor1",
        "deviceType": "motor",
        "eventCommandType": "status",
        "format": "json",
        "data": "payload",
        "qos": 0,
        "name": "Motor",
        "service": "registered",
        "x": 1110,
        "y": 1200,
        "wires": []
    },
    {
        "id": "91bc455c.6fe0d8",
        "type": "function",
        "z": "d4949a29.7bbf18",
        "name": "",
        "func": "var new_msg = {};\nnew_msg.payload =  {'d':{\"status\":\"ON\"}};\nreturn new_msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 720,
        "y": 1140,
        "wires": [
            [
                "1d89c257.358e9e"
            ]
        ]
    },
    {
        "id": "8a95060d.b6f968",
        "type": "function",
        "z": "d4949a29.7bbf18",
        "name": "",
        "func": "var new_msg = {};\nnew_msg.payload = {'d':{\"status\":\"OFF\"}};\nreturn new_msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 720,
        "y": 1280,
        "wires": [
            [
                "1d89c257.358e9e"
            ]
        ]
    },
    {
        "id": "34bf7ec.c32f682",
        "type": "function",
        "z": "a2515ee7.721e9",
        "name": "",
        "func": "msg.payload=\"http://openweathermap.org/img/wn/\"+msg.payload.list[0].weather[0].icon+\"@2x.png\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 620,
        "wires": [
            [
                "6aa41986.d3da58"
            ]
        ]
    },
    {
        "id": "6aa41986.d3da58",
        "type": "ui_template",
        "z": "a2515ee7.721e9",
        "group": "b5b2c1fd.58f38",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<iframe  id=\"myFrame\" style=\"text-align:center;\"  width=\"300\" height=\"120\" frameborder=\"0\" src = \"\">Weather</iframe>\n\n<script>\n(function(scope) {\n    // watch msg object from Node-RED\n    scope.$watch('msg', function(msg) {\n        // new message received\n        var x = document.getElementById('myFrame');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n\n\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 700,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "36f25772.508648",
        "type": "ui_text",
        "z": "d4949a29.7bbf18",
        "group": "b35299e.6af0e68",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Empty",
        "label": "",
        "format": "",
        "layout": "row-spread",
        "x": 1170,
        "y": 700,
        "wires": []
    },
    {
        "id": "d65e2872.aede78",
        "type": "ui_text",
        "z": "d4949a29.7bbf18",
        "group": "b35299e.6af0e68",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "MOTOR STATUS",
        "label": "MOTOR STATUS",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1210,
        "y": 760,
        "wires": []
    },
    {
        "id": "2452b0ca.8c64",
        "type": "ui_text",
        "z": "d4949a29.7bbf18",
        "group": "b35299e.6af0e68",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Empty",
        "label": "",
        "format": "",
        "layout": "row-spread",
        "x": 1170,
        "y": 880,
        "wires": []
    },
    {
        "id": "f78bcb14.f82ba8",
        "type": "ui_text",
        "z": "d4949a29.7bbf18",
        "group": "f4167b05.dd3e48",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Empty",
        "label": "",
        "format": "",
        "layout": "row-spread",
        "x": 390,
        "y": 1060,
        "wires": []
    },
    {
        "id": "96ff5e52.c30b6",
        "type": "ui_button",
        "z": "d4949a29.7bbf18",
        "name": "",
        "group": "f4167b05.dd3e48",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Motor On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"command\":\"Turned on Motor\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 360,
        "y": 1140,
        "wires": [
            [
                "91bc455c.6fe0d8"
            ]
        ]
    },
    {
        "id": "3d8bc072.5cca6",
        "type": "ui_button",
        "z": "d4949a29.7bbf18",
        "name": "",
        "group": "f4167b05.dd3e48",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Motor Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"command\":\"Turned off Motor\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 360,
        "y": 1280,
        "wires": [
            [
                "8a95060d.b6f968"
            ]
        ]
    }
]